@import "tailwindcss";

@theme {
  --animate-floating: floating 2s ease-in-out alternate infinite;
  @keyframes floating {
    from {
      transform: translateY(3%%);
    }
    to {
      transform: translateY(-3%);
    }
  }
}

@layer base {
  *,
  ::before,
  ::after {
    @apply focus:outline-none;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

button {
  cursor: pointer;
}

.btn-focus {
  @apply transition-all focus:ring-3 focus:ring-slate-300;
}

.swiper-pagination {
  position: static !important;
}

.custom-bullet {
  @apply w-2 h-2 rounded-xl bg-zinc-200;
}

.custom-bullet-active {
  @apply bg-zinc-300;
}
