@import "tailwindcss";

@theme {
  --breakpoint-sm: 520px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1140px;
  --breakpoint-2xl: 1320px;
  --animate-floating: floating 2s ease-in-out alternate infinite;
  @keyframes floating {
    from {
      transform: translateY(3%%);
    }
    to {
      transform: translateY(-3%);
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

button {
  cursor: pointer;
}

.btn-focus {
  @apply focus:ring-4 focus:ring-slate-300;
}

.swiper {
  display: flex;
  flex-direction: column;
}

.swiper-group:hover .image-swiper {
  background: linear-gradient(transparent 50%, #0008);
}

.swiper-pagination {
  position: static !important;
}

.swiper-pagination-bullet {
  background: #5b3877 !important;
}
.swiper-pagination-bullet-active {
  background: #bbafc2 !important;
}
